spring:
  application:
    name: sweldox
  sql:
    init:
      mode: never
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  batch:
    job:
      enabled: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

batch:
  upload:
    directory: uploads

server:
  port: ${PORT}
  servlet:
    context-path: /api

springdoc:
  api-docs:
    path: /docs
  swagger-ui:
    path: /swagger-ui.html
  show-actuator: false

security:
  jwt:
    secret-key: ${JWT_SECRET}
    expiration-time: ${JWT_EXPIRATION}

