spring:
  application:
    name: motorph
  sql:
    init:
      mode: always

server:
  port: ${PORT}
  servlet:
    context-path: /api

security:
  jwt:
    secret-key: ${JWT_SECRET}
    expiration-time: ${JWT_EXPIRATION}