spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://${CLOUD_DB_HOST}:${CLOUD_DB_PORT}/${CLOUD_DB}
    username: ${CLOUD_DB_USER}
    password: ${CLOUD_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true